<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Log in</title>
</head>
<style>
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


</style>

<body>
	<div th:if="${param.error}">Wrong password</div>
	<div th:if="${param.logout}">Logged out!</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> Username : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Log in" />
		</div>
	</form>
</body>
</html>